absl-py
affine
alembic
altair
annotated-types
anyio
appdirs
asgiref
asttokens
astunparse
async-timeout
attrs
backcall
beautifulsoup4
blinker
branca
bs4
cachetools
cattrs
certifi
cffi
charset-normalizer
choreographer
click
click-plugins
cligj
clipboard
cloudpickle
cloudscraper
colorama
colorlog
comm
contourpy
cssselect
cycler
dash
dash-core-components
dash-html-components
dash-table
databricks-sdk
dataclass-wizard
debugpy
decorator
diagrams
Django
dnspython
exceptiongroup
executing
fake-useragent
fastapi
fastjsonschema
Flask
flatbuffers
folium
fonttools
frozendict
fuzzywuzzy
gast
geopandas
GitPython
google-auth
google-pasta
graphene
graphql-core
graphql-relay
graphviz
greenlet
grpcio
gTTS
h11
h5py
html5lib
htmltools
httpcore
httpx
idna
imageio
imageio-ffmpeg
importlib_metadata
inflect
iniconfig
ipykernel
ipython
ipython-genutils
ipython-sql
itsdangerous
jedi
jh2
Jinja2
joblib
jsonschema
jsonschema-specifications
jupyter_client
jupyter_core
kagglehub
kaleido
keras
kiwisolver
Levenshtein
libclang
lightgbm
linkify-it-py
logistro
lxml
lxml_html_clean
Mako
Markdown
markdown-it-py
MarkupSafe
matplotlib
matplotlib-inline
mdit-py-plugins
mdurl
ml-dtypes
mlflow
mlflow-skinny
more-itertools
moviepy
mplsoccer
multitasking
namex
narwhals
nba_api
nbformat
nest-asyncio
niquests
numpy
opencv-python
openmeteo_requests
openmeteo_sdk
opentelemetry-api
opentelemetry-sdk
opentelemetry-semantic-conventions
opt_einsum
optree
optuna
orjson
outcome
packaging
pandas
parse
parso
patsy
peewee
pickleshare
pillow
plantuml
platformdirs
playwright
plotly
pluggy
prettytable
proglog
prompt_toolkit
protobuf
psutil
PuLP
pure_eval
pyarrow
pyasn1
pyasn1_modules
pycparser
pydantic
pydantic_core
pydeck
pydub
pyee
Pygments
pymongo
pyodide-http
pyogrio
PyOpenGL
pyparsing
pyperclip
pyppeteer
pyproj
pyquery
PySocks
pytest
pytest-timeout
python-dateutil
python-dotenv
python-Levenshtein
python-multipart
pytz
pywin32
PyYAML
pyzmq
qh3
questionary
RapidFuzz
rasterio
redis
referencing
requests
requests-cache
requests-html
retry-requests
retrying
rfc3986
rich
rpds-py
rsa
scikit-learn
scipy
seaborn
selenium
setuptools
shap
shapely
shiny
simplejson
six
slicer
sniffio
soccerdata
sortedcontainers
soupsieve
SpeechRecognition
spotipy
SQLAlchemy
sqlparse
stack-data
starlette
statsbombpy
statsmodels
streamlit
tenacity
tensorboard
tensorboard-data-server
termcolor
threadpoolctl
todoist_api_python
tornado
tqdm
traitlets
trio
trio-websocket
typeguard
typing_extensions
tzdata
uc-micro-py
undetected-chromedriver
unicode
Unidecode
url-normalize
urllib3
urllib3-future
uvicorn
w3lib
waitress
wassima
watchdog
watchfiles
wcwidth
webdriver-manager
webencodings
websocket-client
websockets
Werkzeug
wheel
wrapt
wsproto
xgboost
xyzservices
yfinance
zipp